.jumbo1 h1{
  font-family: 'Dosis', sans-serif;
  font-size: 6rem;

  color: white;
}

.jumbo1 p{
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 2rem;
}

.jumbo1{
  border-radius: 0;
  background-image:linear-gradient(to right, #086678 0, #2C3F96 100%);
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 9rem;
  height: 20rem;
}

.nav2{
  background-color: white;
  opacity: 0.8;
}

.nav1{
  background-color: #047878;
}

.navbar-light{

}

.nav1 a{
  color: white;
}
