@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400');
.container{
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
}
hr{
  border-style: dashed;
}

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


.card-overlay{
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: #000;

}

.card-content{
  position:absolute;
  left: 50%;
  top: 50%;
}

.cardui h2{
  color: #fff;
}

.cardui p{
  color: #fff;
}

.black-overlay{
  background-color: #000;
  opacity: 0.5;
}

.opacity-overide{
  opacity: 1 !important;
}
.showcaseimg{
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.btn{
  border-radius: 8px;
  padding: .8rem .8rem .8rem .8rem;
}
.showcase{
  margin: 0;
  padding: 0;
  background-color: #fff;
  height:30rem;
}

.showcasetop{
  color: white;
  border-radius: 0;
  background: linear-gradient(225deg, #EB3349, #F45C43); /*EF4027*/
  background-size: 600% 600%;
  animation: gradientmove 30s ease infinite;
  border: 0 !important;
  height:100%
}
.showcasetext{

}


.showcase h1{
  /*padding-top: 8rem;*/

  font-weight: 300;
  font-size: 5rem;
}

p{
  font-weight: 200;
  font-size: 1.5rem;
}

hr{
  margin-top:0px;
  margin-bottom: 0px;
}
.showcasemini{
  height: 20rem !important;
}

.showcasemini h2{
  /*padding-top: 5rem !important;*/
  font-size: 2.5rem;
  font-weight: 300;
}

.about{
  background: linear-gradient(45deg, rgba(105,51,255,1) 0%, rgba(124,33,128,1) 100%); /* w3c */
  padding-bottom:2rem;
  color: white;
  text-align: center;
  width:100%
  border: 0 !important;
}

.about hr{
  background-color: rgba(255, 255, 255, 0.4);
  border-style: dotted;
}

.menu {
    position: fixed;
    left: -200px;
    width: 260px;
    height: 100%;
    top: 0;
    z-index: 10;
    text-align: left;
}
.menu.menu-open {
    left: 0;
}
.menu-wrap {
    position: absolute;
    top: 0;
    right: 60px;
    background: #1a1a1a;
    width: 200px;
    height: 100%}

.menu h1.grub a {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: .15em;
    line-height: 40px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 20px;
}
.menu h1.grub a:hover {
    color: #eb4332;
}

.menu a {
    margin-left: 20px;
    color: gray;
    display: block;
    font-size: 12px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: .1em;
    text-transform: uppercase;
}
.menu a:hover {
    color: #fff;
}
.menu a:active {
    color: #fff;
}
.menu a>i {
    float: right;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    width: 25px;
    font-size: 14px;
    line-height: 40px;
    margin: 25px 2px;
}
.menu-close {
    cursor: pointer;
    display: block;
    position: absolute;
    font-size: 14px;
    color: gray;
    width: 40px;
    height: 40px;
    line-height: 40px;
    top: 20px;
    left: 5px;
    transition: all .1s ease-in-out;
}
.menu-close:hover {
    color: #fff;
    transition: all .1s ease-in-out;
}
.body-push {
    overflow-x: hidden;
    position: relative;
    right: 0;
}
.body-push-toright {
    right: 200px;
}
.body-push-toleft {
    right: -200px;
}
.menu, .body-push {
    transition: all .3s ease;
}
#menuToggle {
    position: absolute;
    top: 20px;
    right: 0;
    z-index: 11;
    display: block;
    text-align: center;
    font-size: 14px;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    background: rgba(0, 0, 0, .25);
    transition: all .1s ease-in-out;
}
#menuToggle:hover {
    color: #fff;
    background: rgba(0, 0, 0, .2);
    transition: all .1s ease-in-out;
}




/* OLD CSS */
.jumbo1 h1{
  font-size: 6rem;
  color: white;
}

.jumbo1{
  border-radius: 0;
  background: linear-gradient(225deg, #d82e3b, #EF6627, #d82e3b);
  background-size: 600% 600%;
  animation: gradientmove 30s ease infinite;
  border: 0 !important;
  margin-bottom: 0px;
  padding-top: 9rem;
  height: 20rem;
  padding-bottom: 240px;
  text-align: center;
  width:100%
}

@-webkit-keyframes gradientmove {
  0%{background-position:0% 90%}
  50%{background-position:100% 10%}
  100%{background-position:0% 90%}
}

@keyframes gradientmove {
    0%{background-position:0% 90%}
    50%{background-position:100% 10%}
    100%{background-position:0% 90%}
}



#reviewjumbo{
  border-radius: 0;
  background-image: url("../img/sauces.jpg");
  width: 100vw !important;
  margin-bottom: -25rem;
  padding-top: 9rem;
  height: 40rem;
  padding-bottom: 240px;
  text-align: center;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center center;
  background-attachment: fixed;
}

#reviewjumbo h1{
  opacity: 1 !important;

}

.parallax{
  background-image: url("./img/salad.jpg");
  height: 40rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -20rem;
}

.gradient{
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
  width: 100%;
  height: 20rem;
}
